* text=auto
*.c     text diff=cpp
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.cpi   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp

.mailmap             export-ignore
Config               export-ignore
.ci                  export-ignore
.ci/**               export-ignore
.github              export-ignore
.github/**           export-ignore
.git/**              export-ignore
tests/unit/static/** export-ignore
.gitattributes       export-ignore
.gitignore           export-ignore
.gitkeep             export-ignore
